--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1

transformers==4.47.1
librosa
tqdm
tiktoken==0.5.1
audiocraft
numpy
ninja
fastapi
uvicorn
tyro
deepfilternet
pydub
soundfile
huggingface_hub==0.27.0
pydantic==1.10.10
safetensors==0.5.0
accelerate==1.2.1